<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mastermind</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

<h1>Mastermind</h1>

<!-- New Game Form -->
<form th:action="@{/singleplayer/start}" method="post">
  <label for="difficulty">Select Difficulty:</label>
  <select name="difficulty" id="difficulty">
    <option value="easy">Easy</option>
    <option value="medium">Medium</option>
    <option value="hard">Hard</option>
  </select>
  <button type="submit">Start New Game</button>
</form>

<!-- Load Game Form -->
<form th:action="@{/game/loadGame}" method="post">
  <input type="text" name="gameId" placeholder="Enter Game ID">
  <button type="submit">Load Game</button>
</form>

<!--<div> Previous Games-->
<!--  <div th:if="${games != null and games.size() > 0}">-->
<!--    <div th:each="game : ${games}">-->
<!--      <div>-->
<!--        <span th:text="${game._id}"></span>-->
<!--        <span th:text="${game.status}"></span>-->
<!--        <span th:text="${game.difficulty}"></span>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

</body>
</html>
