<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mastermind Game</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

<h1>Mastermind Game</h1>


<!-- Display game over message and secret code if the game is over -->
<div th:if="${game.gameOver}">
    <h2 th:text="'You ' + (${game.won} ? 'won' : 'lost')"></h2>
    <div>Secret Code: <span th:text="${game.secretCode}"></span></div>
</div>

<!-- Display the game board with guesses and feedback -->
<table>
    <tr th:each="row, rowIndex : ${game.board}">
        <td th:each="cell : ${row}" th:text="${cell}"></td>
        <td th:text="${game.feedbacks[10 - rowIndex.index - 1]}"></td>


    </tr>


</table>

<!-- Show current turn if the game is not over -->
<div th:if="${not game.gameOver}">
    <p>Turn: <span th:text="${game.turn}"></span></p>

    <!-- Form to submit guess -->
    <form id="guessForm" th:action="@{/singleplayer/guess}" method="post">


        <!-- Dyanmic generate the amount of inputs based of game difficulty -->
        <div th:each="i : ${#numbers.sequence(1, game.difficulty == 'MEDIUM' ? 6 : game.difficulty == 'HARD' ? 8 : 4)}">
            <label th:for="'guess' + ${i}">Guess <span th:text="${i}">1</span>:</label>
            <input type="number" th:name="'guess' + ${i}" th:id="'guess' + ${i}" min="0" max="7" required/>
        </div>


        <button type="submit">Submit Guess</button>
    </form>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const form = document.getElementById("guessForm");

        // Check if gameId already exists in the form
        let gameIdInput = document.querySelector("input[name='gameId']");
        if (!gameIdInput) {
            gameIdInput = document.createElement("input");
            gameIdInput.type = "hidden";
            gameIdInput.name = "gameId";

            // Get gameId from URL
            const gameId = window.location.pathname.split("/").pop(); // Get the last segment of the URL path

            gameIdInput.value = gameId; // Set the value of the hidden input to the extracted game ID
            form.appendChild(gameIdInput); // Append it to the form
        }
    });
</script>

</body>
</html>
