<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mastermind</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

<h1>Mastermind</h1>

<!-- New Game Form -->
<form th:action="@{/singleplayer/start}" method="post">
  <label for="difficulty">Select Difficulty:</label>
  <select name="difficulty" id="difficulty">
    <option value="easy">Easy</option>
    <option value="medium">Medium</option>
    <option value="hard">Hard</option>
  </select>
  <button type="submit">Start New Game</button>
</form>

<!-- Load Game Form -->
<form th:action="@{/singleplayer/loadGame}" method="post">
  <input type="text" name="gameId" placeholder="Enter Game ID">
  <button type="submit">Load Game</button>
</form>

<div> Previous Games
  <div th:if="${games != null and games.size() > 0}">
    <div th:each="game : ${games}">
      <div>
        <span th:text="${game.id}">Game ID</span> <!-- Access game ID -->
        <span th:text="${game.gameOver ? 'Complted' : 'Ongoing'}">Game Status</span> <!-- Access the game status (won or lost) -->
        <span th:text="${game.difficulty}">Difficulty</span> <!-- Access difficulty level -->
      </div>
    </div>
  </div>
  <div th:if="${games == null or games.size() == 0}">
    <p>No games played yet.</p> <!-- Message if no games are found -->
  </div>
</div>

</body>
</html>
